[Desktop Entry]
Name=cc.py
Exec=/usr/bin/ccpy
Comment=A tool to convert Windows cursor themes to Linux format.
Icon=ccpy
Terminal=false
Type=Application
Categories=Utility;Graphics;